In [1]:
import pandas as pd
import csv
import datetime
# Load the data
cab = pd.read_csv('../data/cab_rides.csv', encoding='UTF-16le', sep='\t')
wthr = pd.read_csv('../data/weather.csv', encoding='UTF-16le', sep='\t')

In [7]:
import pandas as pd
cab = pd.read_csv('../data/clean_cab_rides.csv')

In [16]:
cab.head()

,Time Of Day,Day of Week,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name,destination_loc,source_loc
0,Morning,Sunday,0.44,Lyft,2018-12-16 08:46:40,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared,"42.3661, -71.0631","42.363800, -71.058500"
1,Morning,Sunday,0.44,Lyft,2018-12-16 08:46:40,North Station,Haymarket Square,11.0,1.0,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux,"42.3661, -71.0631","42.363800, -71.058500"
2,Morning,Sunday,0.44,Lyft,2018-12-16 08:46:40,North Station,Haymarket Square,7.0,1.0,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft,"42.3661, -71.0631","42.363800, -71.058500"
3,Morning,Sunday,0.44,Lyft,2018-12-16 08:46:40,North Station,Haymarket Square,26.0,1.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL,"42.3661, -71.0631","42.363800, -71.058500"
4,Morning,Sunday,0.44,Lyft,2018-12-16 08:46:40,North Station,Haymarket Square,9.0,1.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL,"42.3661, -71.0631","42.363800, -71.058500"

In [2]:
# # add location to lat/long mapping to dataset
# loc = {
#     'North Station': '42.3661, -71.0631', 
#     'Northeastern University': '42.3398, -71.0892', 
#     'West End': '42.364400, -71.066100',
#     'Haymarket Square': '42.363800, -71.058500', 
#     'South Station': '42.351900, -71.055100',
#     'Fenway': '42.342900, -71.100300',
#     'Theatre District': '42.351900, -71.064300',
#     'Beacon Hill': '42.358800, -71.070700',
#     'Back Bay': '42.350300, -71.081000',
#     'North End': '42.364700, -71.054200',
#     'Financial District': '42.355900, -71.055000',
#     'Boston University': '42.350500, -71.105400' 
# }

# cab['destination_loc'] = [loc[k] for k in cab['destination']]
# cab['source_loc'] = [loc[k] for k in cab['source']]

In [3]:
# change null values in rain column to 0 
wthr.rain = wthr.rain.fillna(0)

In [4]:
# drop nulls in cab data (most, if not all, in price column)
cab = cab.dropna()

In [5]:
# change epoch times to datetime
cab.loc[cab.time_stamp != 0, 'time_stamp'] = pd.to_datetime(cab.time_stamp/1000, unit='s', origin='unix')

In [6]:
# export generated csv file to local data folder
cab.to_csv('../data/clean_cab_rides.csv', index=False, quoting=csv.QUOTE_NONNUMERIC)
wthr.to_csv('../data/clean_weather.csv', index=False, quoting=csv.QUOTE_NONNUMERIC)
# delete from mem after use
del cab
del wthr